<div class="container margin-top">
    <div class="row text-center">
        <div class="col">
            <div class="card">
                <img src="./../../../assets/bowling.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title"> welcome to bowling</h1>
                    <h3>
                        <p class="card-text">Ready <strong>to</strong> roll!!!</p>
                    </h3>
                    <br>
                    <button class="btn btn-outline-info" (click)="nextGame()">Press to start new game</button>
                </div>
            </div>
        </div>
    </div>
</div>